* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: 600;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #3498db;
    font-size: 2em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    margin-top: 15px;
    color: #e74c3c;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input:focus, select:focus {
    border-color: #3498db;
    outline: none;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #3498db;
    color: white;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
}

table tbody tr {
    border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

th i {
    margin-left: 5px;
    color: white;
    cursor: pointer;
}

i {
    margin: 0 5px;
    cursor: pointer;
}

i:hover {
    color: #2980b9;
}

#searchBar {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

#paginationControls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#paginationControls button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

#paginationControls button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

#paginationControls span {
    margin: 0 10px;
    font-size: 1.1em;
}

.productInfos table {
    max-width: 600px;
    margin: 0 auto;
}

.productInfos td, .productInfos th {
    padding: 10px;
    text-align: left;
}

.productInfos th {
    background-color: #3498db;
    color: white;
}

.backPage {
    text-align: center;
    margin-top: 20px;
}

.backPage a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
}

.backPage a:hover {
    background-color: #2980b9;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.menu {
    display: flex;
    align-items: left;
    padding: 10px;
}

.menu a {
    display: flex;
    align-items: center;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    margin: 0 10px;
}

.menu a:hover {
    color: #2980b9;
}

.menu i {
    margin-right: 8px;
    font-size: 1.2em;
}

.tableControl {
    display: flex;
    justify-content: space-between;
}
