<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">

        <div>
            <h1>Produtos Cadastrados</h1>
        </div>
        <div class="menuContainer">
            <div class="menu">
                <a href="{{ url_for('adicionar_produto') }}"><i class="fas fa-plus-circle"></i> Adicionar Produto</a>
                {% if tipo_usuario == 'super' %}
                <a href="{{ url_for('listar_usuarios') }}"><i class="fas fa-users"></i> Gerenciar Usuários</a>
                {% endif %}
            </div>
            <div class="menu">
                <a href="{{ url_for('logout') }}" class="logout"><i class="fas fa-sign-out-alt"></i> Sair</a>
            </div>
        </div>
        <div class="tabPage">
            <table>
                <thead>
                    <tr>
                        <th>ID</i></th>
                        <th>Nome</i></th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="productTable">
                    {% for produto in produtos %}
                    <tr>
                        <td>{{ produto[0] }}</td>
                        <td class="product-name">{{ produto[1] }}</td>
                        <td>{{ produto[3] }}</td>
                        <td>{{ produto[4] }}</td>
                        <td>
                            <a href="{{ url_for('detalhes_produto', id=produto[0]) }}" title="Detalhes"><i class="fas fa-info-circle"></i></a>
                            <a href="{{ url_for('editar_produto', id=produto[0]) }}" title="Editar"><i class="fas fa-edit"></i></a>
                            <a href="{{ url_for('excluir_produto', id=produto[0]) }}" class="delete-link" title="Excluir"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tableControl">
            <div id="paginationControls">
                <button id="prevPage">Anterior</button>
                <span id="pageDisplay"></span>
                <button id="nextPage">Próximo</button>
            </div>
            <div>
                <input type="text" id="searchBar" placeholder="Buscar produto...">
            </div>
        </div>
        <div class="message">
            <p>{{ get_flashed_messages()[0] }}</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
